body, html{
	margin: 0;
	padding: 0;
}
#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}

.nav-container{
	min-width:100%;
	width: auto;
	min-height: 64px;
	height: auto;
	background-color: 	#8abf85; 
	display: table;
	z-index: 9999;
	padding: 0;
	margin: 0;
	position: fixed;
	top:0;
	left:0;
}

.nav-group{
	display: table-row;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	color: white;

}

.nav-right{
	float: right;
	margin: 0;
	padding: 0;

}

.nav-title{
	display: table-cell;
	vertical-align: middle;
	font-size: 1.3rem;
	color: white;
	margin: 0;
	text-align: left;
}

.nav-item{
	display: table-cell;
	height: 64px;
	margin: 0 20px 0 20px;
	padding: 0 20px 0 20px;
	vertical-align: middle;
	font-size: 1rem;
}

.nav-item-red{
	display: table-cell;
	margin: 0 20px 0 20px;
	padding: 0 20px 0 20px;
	vertical-align: middle;
	font-size: 1rem;
	background-color: #b71c1c;
	color:white;
}


.nav-item-red:hover{
		background-color: #e53935;
		cursor: pointer;
}

.nav-item:hover{
		background-color: #739f6f;
		cursor: pointer;
}


.nav-logo{
	display: table-cell;
    vertical-align: middle;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.ant-carousel .slick-slide {
  text-align: center;
/*  height: 160px;*/
  line-height: 50vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.home .categories-container{
	width: 70%;
	margin: 0 auto;
}

.home .Card{
	position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.home .categories-container .row{
	margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.home .row .col{
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
}

.Card .card-image img{
	display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.Card .card-title{
	text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
	font-size: 22px;
	color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
	padding: 20px;
	font-weight: 300;
}

.home .half{
	width: 50%;
	margin-left: auto;
	left: auto;
	right: auto;
}

.home .quarter{
	width: 25%;
	margin-left: auto;
	left: auto;
	right: auto;
}

.ant-carousel .slick-slide img {
  height: 50vh;
/*    width: 100%;*/
    text-align: left;
    margin: 0;
}